body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
ul, li, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/* css style: */
html,body{
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}
.top{
	width: 100%;
	height: auto;
}
.top>h1{
	text-align: center;
	font-size: 0.66rem;
	line-height: 1.3rem;
}
.top>p{
	width: 80%;
	margin: 0 auto;
	font-size: 0.44rem;
}
.text{
	width: 100%;
	height: auto;
	margin-top: 0.6rem;
}
.text>p{
	width: 80%;
	margin: 0 auto;
	font-size: 0.44rem;
}
.text>h1{
	font-size: 0.6rem;
	width: 80%;
	margin: 0 auto;
	color: red;
}
.hf{
	width: 80%;
	margin: 0 auto;
}
.hf>a{
	display: block;
	width: 80%;
	color: #f0f;
	text-align: center;
	margin: 0 auto;
}